In [19]:
import pandas as pd 
df = pd.DataFrame(pd.read_csv('data/NYC TLC Trip Record.csv'))
df2= df[['passenger_count', 'PULocationID', 'DOLocationID', 'RatecodeID', 'total_amount','trip_distance']]
df2.describe()

C:\Users\attha\AppData\Local\Temp\ipykernel_24240\1443726605.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.DataFrame(pd.read_csv('data/NYC TLC Trip Record.csv'))

,passenger_count,PULocationID,DOLocationID,RatecodeID,total_amount,trip_distance
count,63887.000000,68211.000000,68211.000000,63887.000000,68211.000000,68211.000000
mean,1.315870,98.549735,138.429901,1.117160,21.789377,8.114852
std,0.979054,61.244314,76.761311,1.372913,15.457115,585.105955
min,0.000000,1.000000,1.000000,1.000000,-71.500000,0.000000
25%,1.000000,74.000000,74.000000,1.000000,12.900000,1.110000
50%,1.000000,75.000000,138.000000,1.000000,17.900000,1.850000
75%,1.000000,129.000000,219.000000,1.000000,26.150000,3.210000
max,9.000000,265.000000,265.000000,99.000000,491.000000,120098.840000

In [54]:
pd.set_option('display.max_colwidth', 1)

listItem = []
for col in df.columns :
    listItem.append( [col, df[col].nunique(), df[col].unique()])

tabel1Desc = pd.DataFrame(columns=['Column Name', 'Number of Unique', 'Unique Sample'],
                     data=listItem)
tabel1Desc
# tabel1Desc.drop([1,2], axis=0) # drop date and time karena terlalu panjang

,Column Name,Number of Unique,Unique Sample
0,VendorID,2,"[2, 1]"
1,lpep_pickup_datetime,66575,"[2023-01-01 00:26:10, 2023-01-01 00:51:03, 2023-01-01 00:35:12, 2023-01-01 00:13:14, 2023-01-01 00:33:04, 2023-01-01 00:53:31, 2023-01-01 00:09:14, 2023-01-01 00:11:58, 2023-01-01 00:41:29, 2023-01-01 00:50:32, 2023-01-01 00:16:12, 2023-01-01 00:08:43, 2023-01-01 00:26:32, 2023-01-01 00:18:35, 2023-01-01 00:39:32, 2023-01-01 00:49:34, 2023-01-01 00:10:45, 2023-01-01 00:35:11, 2023-01-01 00:31:06, 2023-01-01 00:14:37, 2023-01-01 00:26:21, 2023-01-01 00:41:56, 2023-01-01 00:32:02, 2023-01-01 00:55:13, 2023-01-01 00:01:31, 2023-01-01 00:22:31, 2023-01-01 00:57:28, 2023-01-01 00:35:21, 2023-01-01 00:52:52, 2023-01-01 00:32:56, 2023-01-01 00:24:01, 2023-01-01 00:46:48, 2023-01-01 00:40:58, 2023-01-01 00:20:23, 2023-01-01 01:49:24, 2023-01-01 00:41:53, 2023-01-01 00:56:26, 2023-01-01 00:33:10, 2023-01-01 00:58:28, 2023-01-01 00:42:49, 2023-01-01 00:48:21, 2023-01-01 00:08:05, 2023-01-01 00:13:47, 2023-01-01 00:16:10, 2023-01-01 00:04:25, 2023-01-01 00:33:38, 2023-01-01 00:46:08, 2023-01-01 01:00:08, 2023-01-01 00:28:04, 2023-01-01 00:23:04, 2023-01-01 00:34:07, 2023-01-01 00:52:03, 2023-01-01 00:25:31, 2023-01-01 00:53:09, 2023-01-01 00:42:37, 2023-01-01 00:39:52, 2023-01-01 00:15:32, 2023-01-01 00:06:48, 2023-01-01 00:57:15, 2023-01-01 00:14:13, 2023-01-01 00:52:48, 2023-01-01 00:34:13, 2023-01-01 00:44:41, 2023-01-01 00:11:12, 2023-01-01 01:44:43, 2023-01-01 01:04:44, 2023-01-01 01:48:11, 2023-01-01 01:11:39, 2023-01-01 01:54:25, 2023-01-01 01:59:10, 2023-01-01 01:22:35, 2023-01-01 01:37:10, 2023-01-01 01:46:22, 2023-01-01 01:59:48, 2023-01-01 01:09:49, 2023-01-01 01:23:35, 2023-01-01 01:53:20, 2023-01-01 01:32:14, 2023-01-01 01:01:05, 2023-01-01 01:34:41, 2023-01-01 01:52:08, 2023-01-01 01:49:28, 2023-01-01 01:03:59, 2023-01-01 01:13:11, 2023-01-01 01:40:06, 2023-01-01 01:33:50, 2023-01-01 01:45:19, 2023-01-01 01:51:29, 2023-01-01 01:34:07, 2023-01-01 01:10:08, 2023-01-01 01:32:17, 2023-01-01 01:48:28, 2023-01-01 01:30:43, 2023-01-01 01:51:10, 2023-01-01 01:09:36, 2023-01-01 01:19:54, 2023-01-01 01:31:10, 2023-01-01 01:42:30, 2023-01-01 00:57:51, 2023-01-01 01:27:36, ...]"
2,lpep_dropoff_datetime,66519,"[2023-01-01 00:37:11, 2023-01-01 00:57:49, 2023-01-01 00:41:32, 2023-01-01 00:19:03, 2023-01-01 00:39:02, 2023-01-01 01:11:04, 2023-01-01 00:26:39, 2023-01-01 00:24:55, 2023-01-01 00:46:26, 2023-01-01 01:13:42, 2023-01-01 00:41:43, 2023-01-01 00:17:08, 2023-01-01 00:45:31, 2023-01-01 00:30:09, 2023-01-01 01:18:06, 2023-01-01 01:08:23, 2023-01-01 00:19:37, 2023-01-01 01:17:35, 2023-01-01 00:42:23, 2023-01-01 00:21:50, 2023-01-01 00:30:26, 2023-01-01 00:46:06, 2023-01-01 00:41:25, 2023-01-01 00:59:47, 2023-01-01 00:16:02, 2023-01-01 00:39:24, 2023-01-01 01:09:31, 2023-01-01 00:53:49, 2023-01-01 01:00:53, 2023-01-01 00:42:53, 2023-01-01 00:32:05, 2023-01-01 01:08:17, 2023-01-01 01:04:32, 2023-01-01 00:24:32, 2023-01-01 01:57:51, 2023-01-01 00:41:58, 2023-01-01 01:14:41, 2023-01-01 00:43:08, 2023-01-01 01:14:46, 2023-01-01 00:51:53, 2023-01-01 01:23:50, 2023-01-01 00:13:26, 2023-01-01 00:25:57, 2023-01-01 00:54:55, 2023-01-01 00:17:50, 2023-01-01 00:38:51, 2023-01-01 00:59:10, 2023-01-01 01:05:46, 2023-01-01 00:43:45, 2023-01-01 23:18:32, 2023-01-01 00:50:01, 2023-01-01 00:57:56, 2023-01-01 00:38:40, 2023-01-01 01:13:35, 2023-01-01 00:47:15, 2023-01-01 00:48:54, 2023-01-01 00:23:03, 2023-01-01 01:08:47, 2023-01-01 01:00:15, 2023-01-01 00:25:43, 2023-01-01 01:21:19, 2023-01-01 00:43:57, 2023-01-01 00:48:26, 2023-01-01 00:38:12, 2023-01-01 01:57:31, 2023-01-01 01:11:23, 2023-01-01 02:05:51, 2023-01-01 01:41:21, 2023-01-01 02:05:19, 2023-01-01 02:11:36, 2023-01-01 01:25:11, 2023-01-01 01:41:30, 2023-01-01 02:04:14, 2023-01-01 02:05:29, 2023-01-01 01:17:55, 2023-01-01 01:53:43, 2023-01-01 02:27:01, 2023-01-01 01:43:55, 2023-01-01 01:13:02, 2023-01-01 02:00:06, 2023-01-01 02:00:57, 2023-01-01 02:13:18, 2023-01-01 01:07:17, 2023-01-01 01:26:01, 2023-01-01 01:49:28, 2023-01-01 01:38:15, 2023-01-01 01:47:57, 2023-01-01 02:05:02, 2023-01-01 01:52:34, 2023-01-01 01:30:01, 2023-01-01 01:41:04, 2023-01-01 02:16:18, 2023-01-01 01:40:20, 2023-01-01 02:00:28, 2023-01-01 01:12:39, 2023-01-01 01:23:25, 2023-01-01 01:37:17, 2023-01-01 02:26:39, 2023-01-01 01:07:05, 2023-01-01 01:27:43, ...]"
3,store_and_fwd_flag,2,"[N, Y, nan]"
4,RatecodeID,6,"[1.0, 5.0, 4.0, 3.0, 2.0, 99.0, nan]"
5,PULocationID,226,"[166, 24, 223, 41, 181, 255, 75, 66, 195, 83, 97, 7, 42, 95, 260, 134, 130, 258, 129, 116, 92, 65, 74, 17, 152, 210, 112, 69, 243, 82, 179, 168, 80, 25, 145, 264, 33, 226, 52, 169, 36, 51, 157, 43, 256, 173, 70, 251, 40, 101, 61, 241, 146, 147, 228, 171, 138, 56, 244, 263, 196, 37, 236, 213, 28, 117, 14, 188, 177, 29, 262, 250, 72, 216, 22, 20, 139, 55, 257, 193, 127, 219, 3, 119, 265, 167, 150, 78, 135, 247, 93, 159, 48, 31, 91, 53, 160, 94, 47, 254, ...]"
6,DOLocationID,249,"[143, 43, 179, 238, 74, 262, 45, 75, 166, 140, 234, 148, 255, 186, 210, 129, 68, 260, 42, 24, 244, 146, 135, 173, 216, 142, 265, 164, 7, 83, 95, 130, 223, 80, 48, 263, 196, 250, 226, 239, 189, 41, 168, 162, 141, 33, 145, 151, 116, 195, 249, 235, 160, 98, 79, 229, 181, 193, 237, 233, 264, 102, 10, 37, 258, 82, 170, 61, 112, 231, 97, 17, 169, 96, 219, 243, 236, 56, 36, 114, 157, 161, 54, 90, 40, 188, 70, 63, 251, 101, 92, 153, 53, 57, 256, 65, 257, 138, 85, 52, ...]"
7,passenger_count,10,"[1.0, 2.0, 4.0, 3.0, 6.0, 5.0, 0.0, 7.0, 9.0, 8.0, nan]"
8,trip_distance,1870,"[2.58, 1.81, 0.0, 1.3, 1.1, 2.78, 3.8, 1.88, 1.11, 4.22, 4.8, 1.99, 7.08, 3.23, 5.91, 11.3, 8.28, 2.02, 0.96, 0.53, 1.51, 0.88, 2.48, 3.53, 2.25, 4.29, 2.53, 1.7, 10.44, 6.78, 1.39, 1.31, 6.7, 3.52, 1.74, 2.31, 1.37, 10.35, 1.05, 6.19, 2.8, 1.13, 3.19, 1.26, 2.87, 8.55, 4.46, 1.18, 2.5, 9.01, 0.63, 2.08, 1.47, 7.83, 2.15, 12.73, 1.62, 7.3, 2.73, 4.9, 2.17, 0.6, 0.8, 2.39, 1.23, 10.45, 2.23, 2.21, 5.2, 5.25, 6.32, 3.82, 3.58, 0.7, 2.91, 5.13, 12.4, 1.45, 7.52, 2.45, 0.54, 0.47, 1.16, 15.39, 5.34, 2.56, 14.97, 0.62, 0.87, 0.01, 0.86, 2.38, 2.64, 11.34, 1.61, 2.0, 4.08, 10.96, 6.14, 3.16, ...]"
9,fare_amount,2553,"[14.9, 10.7, 7.2, 6.5, 6.0, 17.7, 19.1, 14.2, 24.7, 26.8, 11.4, 30.3, 35.9, 32.5, 15.0, 44.3, 12.8, 8.6, 5.8, 16.3, 19.8, 18.4, 13.5, 8.0, 47.1, 60.0, 7.9, 10.0, 3.0, 5.5, 17.0, 75.0, 15.6, 47.8, 21.2, 37.3, 52.0, 4.4, 51.3, 25.5, 5.1, 9.3, 29.6, 48.5, 28.2, 21.9, 5.0, 4.0, 25.4, 36.6, 66.0, 20.0, 50.0, 190.0, 20.5, 46.4, 12.1, 31.0, 33.8, 26.1, 22.6, 15.5, 24.0, 25.0, 10.5, 19.5, 100.0, 40.0, 31.7, 40.8, 80.0, 110.0, 12.0, 14.5, 43.6, 23.0, 90.0, 49.2, 16.0, 28.9, 30.0, 25.8, 35.0, 35.2, 7.0, 78.0, 27.5, 32.4, 70.0, 41.5, 21.0, 45.0, 9.0, 54.8, 58.3, 38.0, 8.5, 23.3, 28.65, 49.9, ...]"
10,extra,16,"[1.0, 0.5, 3.75, 0.0, 3.25, 6.0, 5.0, 2.75, 5.5, -1.0, 2.5, 5.25, 7.5, -2.5, -0.5, 12.5]"
11,mta_tax,6,"[0.5, 1.5, 0.0, 1.0, -0.5, 2.75]"
12,tip_amount,1492,"[4.03, 2.64, 1.94, 1.7, 0.0, 4.85, 1.0, 3.0, 3.33, 4.04, 5.0, 2.42, 3.76, 4.46, 4.32, 4.18, 9.92, 12.61, 2.5, 2.78, 1.36, 2.22, 2.8, 2.63, 6.26, 5.3, 7.11, 2.6, 2.25, 4.58, 1.38, 7.55, 2.08, 1.5, 6.41, 3.2, 4.88, 2.36, 8.71, 6.69, 4.45, 1.75, 7.66, 2.0, 1.52, 2.49, 9.0, 6.65, 1.55, 6.44, 10.33, 21.5, 4.38, 6.42, 7.81, 3.96, 6.06, 8.79, 4.87, 4.0, 7.52, 6.32, 5.02, 2.65, 3.11, 8.2, 3.62, 20.06, 3.75, 3.34, 8.75, 15.2, 9.24, 4.2, 3.82, 2.18, 3.3, 0.05, 6.09, 4.5, 4.35, 5.22, 8.66, 1.66, 15.66, 6.0, 1.8, 5.01, 4.17, 3.92, 3.9, 6.55, 3.54, 10.61, 5.5, 5.75, 10.26, 5.44, 2.95, 9.9, ...]"
13,tolls_amount,26,"[0.0, 6.55, 4.0, 13.75, 9.0, 3.0, 11.75, 2.45, 7.0, 13.1, 18.3, 20.5, 12.75, 22.75, 21.3, 14.75, 25.5, 36.05, 19.3, 6.25, 9.55, 8.55, 8.0, 5.09, 6.75, 20.0]"
14,ehail_fee,0,[nan]
15,improvement_surcharge,5,"[1.0, 0.0, 0.3, -1.0, -0.3]"
16,total_amount,4670,"[24.18, 15.84, 11.64, 10.2, 8.0, 22.95, 29.2, 16.7, 10.7, 32.95, 32.05, 19.98, 38.55, 24.24, 41.15, 34.5, 15.0, 54.55, 15.3, 11.1, 12.12, 8.3, 13.9, 9.7, 22.56, 26.76, 25.92, 25.08, 18.75, 13.75, 59.52, 75.66, 10.4, 5.5, 21.6, 16.68, 20.2, 13.2, 49.6, 8.16, 21.72, 78.05, 15.78, 27.11, 13.32, 18.1, 58.35, 30.81, 13.0, 39.8, 11.25, 16.0, 19.83, 54.5, 8.28, 53.8, 37.8, 22.93, 10.0, 38.46, 19.2, 7.6, 9.0, 24.38, 14.16, 43.56, 53.75, 40.14, 24.4, 34.85, 26.7, 8.75, 6.0, 38.31, 12.5, 47.65, 9.12, 10.79, 12.48, 68.5, 59.55, 21.0, 20.85, 9.3, 13.1, 191.0, 14.5, 17.4, 60.0, 13.35, 32.19, 61.98, 33.45, 26.3, 23.2, 18.98, 33.5, 38.52, 46.86, 28.6, ...]"
17,payment_type,5,"[1.0, 2.0, 3.0, 4.0, 5.0, nan]"
18,trip_type,2,"[1.0, 2.0, nan]"
19,congestion_surcharge,4,"[2.75, 0.0, 2.5, -2.75, nan]"

#### ***Problem Identification***

Bagaimana cara Taxi Drivers membuat rute maksimal untuk mendapat revenue terbanyak. 

Hypothesis':

| Hypothesis                | Data to Analyze                                                                                              |
|------------------------|----------------------------------------------------------------------------------------------------------|
| Pada weekdays daerah pusat perkotaan akan lebih sibuk | Passenger_count, PULocationID, DOLocationID, RatecodeID, TotalAmount |
| Pada weekdays maka pagi dan sore hari, pesanan akan lebih banyak | PULocation, Date, RatecodeID, totalAmount, PULocationID, DOLocationID |
| Total amount pada Dispatch akan lebih sedikit | |

reference = https://medium.com/@fathurizkym27/analysis-of-the-nyc-green-taxi-data-e37640534730

### ***Data Cleaning Framework***
- Datetime - Buat format datetime buat cari outlier
- LocationID = Menghapus LocationID yang lebih dari 263 (secara data hanya ada 263)
- Distance = Menghapus outliers atau yang jarak lebih dari quantile 0.85 (lihat datanya nanti pilih salah satu)
- RatecodeID = 
- Trip Distance = Hapus yang melebihi 10 (sebenernya ini ada outliers tapi yang longtrip bisa dilihat karna kalau diantara 4-10 masih banyak)
- Payment Type = [1.0, 2.0, 3.0, 4.0, 5.0, nan] -- Nan dibuat 5
-  

Add rows
- Duration (dropoff-pickup)
- Average Speed (distance/time)

# ***NYC TLC Trip Data***

Dataset ini mencakup data historis transasksi jasa *Taxi and Limousine Commission* (TLC) yang tersedia pada NYC. 

Untuk informasi lebih lanjut tentang TLC NYC bisa pada laman 
(nyc.gov/site/tlc/index.page)

Translasi pribadi column data

| Feature                | Description                                                                                              |
|------------------------|----------------------------------------------------------------------------------------------------------|
| VendorID               | Nama provider data <br>1 = Creative Mobile Technologies, LLC.<br>2 = VeriFone Inc.                                         |
| lpep_pickup_datetime   | Data argo dimulai <br>The date and time when the meter was engaged.                                                           |
| lpep_dropoff_datetime  | Data argo selesai <br>The date and time when the meter was disengaged.                                                        |
| Passenger_count        | Jumlah penumpang (driver yang menginput - kemungkinan error ada) <br>The number of passengers in the vehicle. This is a driver-entered value.                             |
| Trip_distance          | Jarak trip berdasarkan taximeter <br>The elapsed trip distance in miles was reported by the taximeter.                                      |
| PULocationID           | Lokasi GPS saat taximeter dinyalakan <br> TLC Taxi Zone in which the taximeter was engaged.                                                      |
| DOLocationID           | Lokasi GPS saat taximeter dimatikan <br> TLC Taxi Zone in which the taximeter was disengaged.                                                    |
| RateCodeID             | Tarif akhir yang mempengaruhi total harga argo ke lokasi khusus <br> The final rate code is in effect at the end of the trip.<br>1 = Standard rate<br>2 = JFK<br>3 = Newark<br>4 = Nassau or Westchester<br>5 = Negotiated fare<br>6 = Group ride |
| Store_and_fwd_flag     | Bendera indikasi (store and fwd artinya tidak langsung dikirim) This flag indicates whether the trip record was held in the vehicle memory before sending to the vendor, aka "store and forward," because the vehicle did not have a connection to the server.<br>Y = store and forward trip<br>N = not a store and forward trip |
| Payment_type           | A numeric code signifying how the passenger paid for the trip.<br>1 = Credit card<br>2 = Cash<br>3 = No charge<br>4 = Dispute<br>5 = Unknown <br> 6 = Voided trip (cancellation) |
| Fare_amount            | Biaya pokok dari agro <br>The time-and-distance fare is calculated by the meter. Extra Miscellaneous extras and surcharges. Currently, this only includes the $0.50 and $1 rush hour and overnight charges. |
| MTA_tax       (X)         | $0.50 akan secara otomatis ditambahkan ke biaya perjalanan jika perjalanan taksi berada di dalam batasan wilayah yang berlaku. <br> $0.50 MTA tax that is automatically triggered based on the metered rate in use.                        |
| Improvement_surcharge(X)  | Semacam uang gedung lah wkwk <br> $0.30 improvement surcharge assessed on hailed trips at the flag drop. The improvement surcharge began being levied in 2015. |
| Tip_amount             | Tips, kalo kredit otomatis <br>This field is automatically populated for credit card tips. Cash tips are not included.                 |
| Tolls_amount           | Ya biaya tol <br>The total amount of all tolls paid in the trip.                                                           |
| Total_amount           | Total semua pembayaran (exclude cash tips) <br>The total amount charged to passengers. Does not include cash tips.                                      |
| Trip_type              | A code indicating whether the trip was a street hail or a dispatch that is automatically assigned based on the metered rate in use but can be altered by the driver.<br>1 = Street-hail (panggil dijalan)<br>2 = Dispatch (pesan melalui telpon atau app)|